body,html {
  width : 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
}

#app, #main {
  width: inherit;
  height: inherit;
}

.content {
  min-height: calc(100vh - 55px);
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.form-submit-error {
  color: red;
}

/* Nav bar */

#navbar {
  position: fixed;
  z-index: 2;
  width: inherit;
}

#navbar a {
  text-decoration: none;
}

.navbar-item, .navbar-item > a {
  display: flex;
  align-items: center;
}

/* navbar icons */
.navbar-item button > div > span:hover {
  color: #00b6ce !important;
}

/* navbar icons */
.navbar-item > a > span {
  padding: 0 16px;
}

/* Sign-in/Sign-up */

#sign-in {
  width: 100%;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}

.sign-in-form-submit-div {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sign-in-form-submit-div button {
  margin: .5em 0;
}

/* Goals Search */

#goals-search {
  width: 100%;
}

.goal-list {
  padding-top: 15px;
}

.goal-list > a:hover {
  text-decoration: none;
}

.goal-list-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}

.goal-list-item > a {
  width: 100%;
}

.goal-list-pic-wrapper {
  width: 100%;
  background: 
    linear-gradient(
      to top,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 1)
    );
}

.goal-list-pic-wrapper > img {
  width: 100%;
  min-height: 200px;
  max-height: 350px;

  -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}

.goal-list-pic-wrapper:hover > img {
  opacity: .5;
}

.goal-list-item > .goal-list-item-loc,
.goal-list-item > .goal-list-item-banner {
  z-index: 1;
  display: flex;
  color: white;
}

.goal-list-item-loc::before {
  content: '';
  background-image: url('../images/map_pin.png');
  background-repeat: no-repeat;
  background-size: 13px 20px;
  padding-right: 17px;
}

.goal-list-item-loc {
  position: absolute;
  padding: 10px 10px 0 0;
  font-size: 1.2em;
}

.goal-list-item-banner {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  bottom: 46px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.goal-list-item-banner > h3 {
  margin: 0;
  padding: 10px 0 10px 10px;
  font-family: Radaway;
}

.goal-list-item-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.goal-list-item-actions > div:hover {
  cursor: pointer;
}

.goal-list-item-actions > div + div {
  margin-left: 12px;
}

.action-padders {
  padding: 10px 0 10px 10px;
}

.action-padders > div + div {
  margin-left: 50px;
}

.like {
  background-image: url('../images/actions/like_white.png');
  background-repeat: no-repeat;
  background-size: 35px;
  width: 35px;
  height: 31px;
}
.like-black {
  background-image: url('../images/actions/like_black.png');
}
.liked {
  background-image: url('../images/actions/like_active.png');
}
.like:hover {
  background-image: url('../images/actions/like_hover.png');
}

.done {
  background-image: url('../images/actions/done_white.png');
  background-repeat: no-repeat;
  background-size: 36px;
  width: 35px;
  height: 26px;
}
.done-black {
  background-image: url('../images/actions/done_black.png');
}
.done:hover {
  background-image: url('../images/actions/done_hover.png');
}

.add {
  background-image: url('../images/actions/add_white.png');
  background-repeat: no-repeat;
  background-size: 33px;
  width: 33px;
  height: 33px;
}
.add-black {
  background-image: url('../images/actions/add_black.png');
}
.add:hover {
  background-image: url('../images/actions/add_hover.png');
}

/* Goal */
#goal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.goal-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.goal-header {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: white;
}

.goal-header > h1 {
  margin: 0;
  font-family: Radaway;
  font-size: 4.5em;
}

.goal-header > h3 {
  margin: 0;
  font-size: 1.6em;
  font-weight: 400;
}

.goal-banner-img {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  opacity: .8;
}

.goal-main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 10px;
  font-size: 1.4em;
  font-weight: 500;
}

.goal-main-info > p {
  margin: 15px 0;
}

.goal-loc::before {
  content: '';
  background-image: url('../images/map_pin.png');
  background-repeat: no-repeat;
  background-size: 15px 24px;
  padding-right: 20px;
}

.goal-loc {
}

.goal-map {
  width: 100%;
  height: 400px;
  padding-left: 10px;
}

/* Snippets */

.snippets {
  padding-right: 10px;
}

.snippet-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.snippet-titles > h3 {
  margin: 0 0 10px 0;
  font-size: 1.3em;
  font-weight: 400;
}

.snippet-titles > h3:hover {
  cursor: pointer;
  color: #00b6ce;
}

.selected-snippet {
  color: #00b6ce;
}

.snippet-text {
  text-align: justify;
}